* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 48px 64px;
}

/* LAYOUTS */
.container {
  max-width: 1000px;
  background-color: coral;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 2px;
  justify-content: space-between;
}

.fact-form {
  background-color: #78716c;
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: center;
}

.main {
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

/* ELEMENTS */

.emojis {
  margin-bottom: 5px;
  margin-left: auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", sans-serif;
  margin-bottom: 5px;
  margin-right: 10px;
  line-height: 1;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #78716c;
  margin-bottom: 16px;
  padding: 16px 30px;
  border: 4px solid red;
  letter-spacing: -1px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  padding: 3px 10px;
}

ul {
  list-style: none;
}

.developer {
  font-size: medium;
  color: orangered;
  text-align: center;
  font-family: "Coiny", sans-serif;
  padding: 10%;
  margin: 2px;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: 1s;
}

.source:active,
.source:hover {
  color: green;
}
